[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
cachetools = "*"
certifi = "*"
cffi = "*"
charset-normalizer = "*"
coreapi = "*"
coreschema = "*"
cryptography = "*"
defusedxml = "*"
dj-database-url = "*"
django = "*"
django-cors-headers = "*"
django-filter = "*"
django-googledrive-storage = "*"
django-storages = "*"
django-templated-mail = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djoser = {ref = "abdf622f95dfa2c6278c4bd6d50dfe69559d90c0", git = "https://github.com/sunscrapers/djoser"}
google-api-core = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-httplib2 = "*"
google-cloud-core = "*"
google-cloud-storage = "*"
google-crc32c = "*"
google-resumable-media = "*"
googleapis-common-protos = "*"
gunicorn = "*"
httplib2 = "*"
idna = "*"
itypes = "*"
jinja2 = "*"
markupsafe = "*"
oauthlib = "*"
pillow = "*"
protobuf = "*"
psycopg2-binary = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycparser = "*"
pyjwt = "*"
pyparsing = "*"
python-dateutil = "*"
python-decouple = "*"
python3-openid = "*"
pytz = "*"
pyyaml = "*"
requests = "*"
requests-oauthlib = "*"
rsa = "*"
six = "*"
social-auth-app-django = "*"
social-auth-core = "*"
sqlparse = "*"
tzdata = "*"
uritemplate = "*"
urllib3 = "*"
whitenoise = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.10"

[scripts]
start = "python manage.py runserver"
run = "npm run dev --prefix frontend"
migrate = "python manage.py migrate"